{% extends 'Home.html' %}
{% block info %}

<div class="first">
    <h1>Cyberbullying in Twitter</h1>
    <p> This website give the ability to the user to search on text where user think it might be a <strong>Bully</strong>.</p>
    <p> Also, uploading file with csv formatting and label its contents by using the model that build by Keggle's dataset</p>
    <p> Moreover, this application will visualize the bully text along with the  <strong>Source</strong> such as <em style="color: indianred">Twitter for iPhonn</em> and
        the time of creating the tweets.</p>
</div>

{% endblock %}
